<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Онлайн Квиз</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
</head>
<body>
    <div class="container">
        <h1>Квиз для {{ name }} {{ surname }}</h1>
        <form method="POST" action="/finish_quiz">
            {% for question in questions %}
                <h3>{{ question.question }}</h3>
                {% for option in question.answer_options.split(',') %}
                    <label>
                        <input type="radio" name="question_{{ question.id }}" value="{{ option }}" required>
                        {{ option }}
                    </label>
                {% endfor %}
            {% endfor %}
            <input type="hidden" name="name" value="{{ name }}">
            <input type="hidden" name="surname" value="{{ surname }}">
            <button type="submit">Завершить квиз</button>
        </form>
    </div>
</body>
</html>
